<<<<<<< HEAD
/*
Error: Invalid CSS after "    min-height:": expected expression (e.g. 1px, bold), was "}"
        on line 79 of ./app/quiz_app/quizrunde/quizrunde.scss

74: 	  margin: 10px 15px;
75: 	  padding:3px 20px;
76: 	  cursor: pointer;
77: 	  background-color:rgba(248,245,228,0.7);
78:     min-height:
79: 	}
80: 	.antwort:hover{
81: 	  background-color:rgba(248,245,228,1);
82: 	}
83: 
84: 	@media only screen and (min-width: 439px) {

Backtrace:
./app/quiz_app/quizrunde/quizrunde.scss:79
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1189:in `expected'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/script/lexer.rb:229:in `expected!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/script/parser.rb:704:in `assert_expr'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/script/parser.rb:75:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1051:in `sass_script'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:897:in `value!'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:769:in `block in try_declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1165:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:1165:in `rethrow'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:782:in `try_declaration'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:726:in `declaration_or_ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:676:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:657:in `block'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:649:in `ruleset'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:675:in `block_child'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:668:in `block_contents'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:125:in `stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/scss/parser.rb:41:in `parse'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:406:in `_to_tree'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/engine.rb:298:in `render_with_sourcemap'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `each'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/lib/sass/plugin/compiler.rb:331:in `block in watch'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `call'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/Library/Ruby/Gems/2.0.0/gems/sass-3.4.22/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    min-height:\": expected expression (e.g. 1px, bold), was \"}\"\A         on line 79 of ./app/quiz_app/quizrunde/quizrunde.scss\A \A 74: 	  margin: 10px 15px;\A 75: 	  padding:3px 20px;\A 76: 	  cursor: pointer;\A 77: 	  background-color:rgba(248,245,228,0.7);\A 78:     min-height:\A 79: 	}\A 80: 	.antwort:hover{\A 81: 	  background-color:rgba(248,245,228,1);\A 82: 	}\A 83: \A 84: 	@media only screen and (min-width: 439px) {"; }
=======
@charset "UTF-8";
/* Variabeln
###################################################### */
/* Bausteine
###################################################### */
.button {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px #cb0727;
  padding: 5px;
  color: #fff;
  width: 100%; }

.button.is-primary {
  background-color: #ff3737; }

.liste th {
  background-color: #E9C20C;
  text-align: left; }

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
  width: 10%;
  text-align: center; }

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
  width: 40%; }

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
  width: 10%;
  text-align: right; }

th, td {
  padding: 4px;
  color: black; }

td {
  background: rgba(248, 245, 228, 0.7); }

/* GGf mal CSS Pr├ñprozessoren checken. */
.quizrunde {
  /*Anzeige fragen-counte r*/
  /*Formatierung Frage und Hintergrund der Frage*/
  /*Allgemeine Formatierung der Antworten,
  haupts├ñchliche Aufgabe: alle Fragen an den unteren Fensterrand setzen*/
  /*Antworten Formatierung, jede Frage bekommt einen eigenen Hintergrund,
  Abst├ñnde zwischen den Fragen*/ }
  .quizrunde .fragen-counter {
    width: 100px;
    margin-top: 1px;
    margin-left: 7px;
    color: #FFFFFF; }
  .quizrunde .fragenblock {
    position: absolute;
    left: 0;
    right: 0;
    top: 20;
    margin-left: 15px;
    margin-right: 15px;
    background-color: rgba(248, 245, 228, 0.6);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px; }
  .quizrunde #timer {
    height: 20px;
    margin-top: 83;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    transition: max-width 5s;
    background: red; }
  .quizrunde #timer-js {
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;
    max-width: 100%;
    background: red;
    /* For browsers that do not support gradients */
    transition: max-width 30s; }
  .quizrunde #timer.start {
    max-width: 0; }
  .quizrunde .alle-antworten {
    font-weight: lighter;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    list-style: none;
    padding: 0;
    margin: 0; }
  .quizrunde .antwort {
    margin: 10px 15px;
    padding: 3px 20px;
    cursor: pointer;
    background-color: rgba(248, 245, 228, 0.7);
    min-height: 30px; }
  .quizrunde .antwort:hover {
    background-color: #f8f5e4; }
  @media only screen and (min-width: 439px) {
    .quizrunde .antwort {
      margin-top: 20px; }
    .quizrunde .fragenblock {
      height: 10%;
      font-size: 24px; }
    .quizrunde .alle-antworten {
      margin-top: -20px;
      font-size: 24px; }
    .quizrunde .fragen-counter {
      font-size: 24px; } }
  @media only screen and (min-width: 1024px) {
    .quizrunde .antwort {
      margin-top: 40px;
      font-size: 24px; }
    .quizrunde .fragenblock {
      height: 15%;
      font-size: 24px; }
    .quizrunde .fragen-counter {
      font-size: 24px; } }

/*# sourceMappingURL=quizrunde.css.map */
>>>>>>> 9f91b0ed5fae1f8b32cad44f191de43012a2129d
