@charset "UTF-8";
/* Variabeln
###################################################### */
/* Bausteine
###################################################### */
.button {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px #cb0727;
  padding: 5px;
  color: #fff;
  width: 100%; }

.button.is-primary {
  background-color: #ff3737; }

.liste th {
  background-color: #E9C20C;
  text-align: left; }

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
  width: 10%;
  text-align: center; }

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
  width: 40%; }

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
  width: 10%;
  text-align: right; }

th, td {
  padding: 4px;
  color: black; }

td {
  background: rgba(248, 245, 228, 0.7); }

.quizrunde {
  padding: 5px;
  position: absolute;
  top: 0;
  left: 50vw;
  bottom: 0;
  width: 600px; }
  .quizrunde .quizrunde-inner {
    margin-left: -100%;
    width: 1200px; }

/*Allgemeine Formatierung, Schriftart, Font Groesse, Hintegrund*/
.quizrunde * {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #000;
  /*background-color, Vorläufig, wird angezeigt wenn Bild nicht geladen werden kann*/ }

/*Anzeige fragen-counte r*/
.quizrunde .fragen-counter {
  width: 100px;
  margin-top: 100px;
  /*margin-left: 7px;*/
  color: #FFFFFF; }

/*Formatierung Frage und Hintergrund der Frage*/
.quizrunde .fragenblock {
  /*margin-left: 15px;
  margin-right: 15px;*/
  margin-bottom: 0px;
  background-color: rgba(248, 245, 228, 0.9);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  hyphens: auto;
  word-wrap: break-word; }

.quizrunde #timer-js {
  height: 20px;
  margin-top: 0px;
  /*margin-left: 15px;
  margin-right: 15px;*/
  max-width: 100%;
  background: #E9C20C; /* For browsers that do not support gradients #E9C20C*/
  background: -webkit-linear-gradient(left, yellow , lightyellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, yellow, lightyellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, yellow, lightyellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, yellow ,lightyellow); /* Standard syntax */
  /* For browsers that do not support gradients */
  /*-webkit-transition: width 2s; Safari */
  transition: max-width 10s; }

.quizrunde #timer.start {
  max-width: 0; }

/*Allgemeine Formatierung der Antworten,
hauptsächliche Aufgabe: alle Fragen an den unteren Fensterrand setzen*/
.quizrunde .alle-antworten {
  position: absolute;
  width: 1200px;
  left: -100%;
  bottom: 0;
  list-style: none;
  padding: 0;
  margin: 0; }

#antworten .antwort {
  transform: scale(1);
  transition: transform 0.5s; }

#antworten.hidden .antwort {
  transform: scale(0); }

/*Antworten Formatierung, jede Frage bekommt einen eigenen Hintergrund,
Abstände zwischen den Fragen*/
.quizrunde .antwort {
  font-weight: lighter;
  margin: 10px 0;
  padding: 3px 20px;
  cursor: pointer;
  background-color: rgba(248, 245, 228, 0.9); }

.quizrunde .antwort:hover {
  background-color: #f8f5e4; }

.quizrunde .falsch {
  background-color: #CB0727 !important;
  transition: blinken 2s linear;
}
@-webkit-keyframes blinken {
  0%, 49% {
    background-color: white;
   }
  50%, 100% {
    background-color: #CB0727;
  }
}

.quizrunde .richtig {
  background-color: #0FDC00;
  animation: blinken 1s infinite;
}

@-webkit-keyframes blinken {
  0%, 49% {
    background-color: white;
  }
  50%, 100% {
    background-color: #0FDC00;
  }
}

@media only screen and (max-width: 439px) {
  .quizrunde {
    position: static;
    left: auto;
    width: auto; }
    .quizrunde .quizrunde-inner {
      width: auto;
      margin-left: auto; }
    .quizrunde .alle-antworten {
      width: auto;
      left: 5px;
      right: 5px;
      bottom: 10px; }

  .quizrunde .antwort {
    margin-top: 20px; }

  .quizrunde .fragenblock {
    height: 10%;
    font-size: 24px; }

  .quizrunde .alle-antworten {
    margin-top: -20px;
    font-size: 24px; }

  .quizrunde .fragen-counter {
    font-size: 24px; } }
@media only screen and (min-width: 1024px) {
  .quizrunde .antwort {
    margin-top: 40px;
    font-size: 24px; }

  .quizrunde .fragenblock {
    height: 15%;
    font-size: 24px; }

  .quizrunde .fragen-counter {
    font-size: 24px; } }
/* GGf mal CSS Präprozessoren checken. */

/*# sourceMappingURL=quizrunde.css.map */
