/* Variabeln
###################################################### */
/* Bausteine
###################################################### */
.button {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px #cb0727;
  padding: 5px;
  color: #fff;
  width: 100%; }

.button.is-primary {
  background-color: #ff3737; }

.liste th {
  background-color: #E9C20C;
  text-align: left; }

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
  width: 10%;
  text-align: center; }

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
  width: 40%; }

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
  width: 10%;
  text-align: right; }

th, td {
  padding: 4px;
  color: black; }

td {
  background: rgba(248, 245, 228, 0.7); }

html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0; }

@font-face {
  font-family: 'OswaldLight';
  src: url("fonts/Oswald-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'NotoSans';
  src: url("fonts/NotoSans-Regular.ttf") format("truetype"); }
body {
  max-height: auto;
  background-image: url(images/NeuStadion.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.schlussscreen {
  box-sizing: border-box;
  width: 100%;
  padding: 15px 150px 5px 150px; }
  .schlussscreen .tablet, .schlussscreen .desktop {
    display: block !important; }
  .schlussscreen .mobile {
    display: none  !important; }
  .schlussscreen .inhalt::after {
    content: "";
    height: 0;
    display: block;
    clear: both; }
  .schlussscreen .heading {
    text-align: center;
    color: black;
    height: 50px;
    background-color: white;
    width: 100%; }
  .schlussscreen h1 {
    font-family: "Oswald", sans-serif;
    line-height: 50px;
    color: black;
    font-size: 24px; }
  .schlussscreen .erneut {
    background-color: #cb0727;
    color: white;
    font-size: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    width: calc(100% - 30px);
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-family: 'NotoSans'; }
  .schlussscreen .erneut p {
    text-align: center; }
  .schlussscreen .ballFalsch img {
    opacity: 30%; }
  .schlussscreen .fussbaelle {
    width: 100%;
    height: 50px;
    line-height: 50px;
    margin: 10px 0px 10px 0px; }
  .schlussscreen .fussbaelle table {
    width: calc(100% - 30px);
    text-align: center; }
  .schlussscreen .punkte {
    background-color: #e9c20c;
    color: black;
    font-size: 20px;
    text-align: center;
    width: calc(100% - 30px);
    height: 50px;
    line-height: 50px;
    display: inline-block;
    margin-top: 3px;
    font-family: "Oswald", sans-serif; }
  .schlussscreen .suggestions::after {
    content: "";
    height: 0;
    display: block;
    clear: both; }
  .schlussscreen .suggestions img {
    width: 100%;
    height: 90px;
    display: block; }
  .schlussscreen .suggestions h2 {
    background-color: #e9c20c;
    color: black;
    font-size: 20px;
    text-align: center;
    width: 100%;
    height: 3.125em;
    font-family: "Oswald", sans-serif;
    line-height: 3.125em;
    display: inline-block;
    font-style: normal;
    margin-top: 20px; }
  .schlussscreen .suggestions .sugg {
    position: relative;
    float: left;
    margin-right: 10px;
    width: calc((100% - 20px)/3);
    margin-top: 21px; }
    .schlussscreen .suggestions .sugg:last-child {
      margin-right: 0px; }
    .schlussscreen .suggestions .sugg .sugg-infos {
      position: absolute;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.7);
      width: 100%;
      height: 25px;
      line-height: 25px;
      font-family: 'NotoSans'; }
      .schlussscreen .suggestions .sugg .sugg-infos .sugg-head {
        font-family: "Oswald", sans-serif;
        text-align: center;
        height: auto; }
  .schlussscreen .linke-seite {
    float: left;
    margin-top: 20px;
    width: 49%; }
  .schlussscreen .rechte-seite {
    float: right;
    margin-top: 20px;
    width: 49%; }
  .schlussscreen .quizbild img {
    margin-top: 5px;
    width: calc(100% - 30px);
    max-height: auto;
    object-fit: cover; }
  .schlussscreen .rank img {
    height: 15px;
    width: 20px; }
  .schlussscreen .highscore table {
    width: 100%;
    margin-top: -9px;
    border-spacing: 0px 14px; }
  .schlussscreen .highscore table th {
    background-color: #e9c20c;
    text-align: left;
    text-width: none;
    font-family: "Oswald", sans-serif; }
  .schlussscreen .highscore table td {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: "Oswald", sans-serif; }
  .schlussscreen .highscore tr:last-child {
    outline: solid 3px #cb0727; }
  .schlussscreen .highscore-btn, .schlussscreen .infos {
    display: none; }

@media only screen and (max-width: 1024px) {
  .schlussscreen {
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto; }
    .schlussscreen .highscore table {
      width: 100%; }
    .schlussscreen .rechte-seite, .schlussscreen .linke-seite {
      width: 50%; } }
@media only screen and (max-width: 439px) {
  body {
    background-image: url(images/background.jpg);
    max-height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; }

  .schlussscreen {
    box-sizing: border-box;
    width: 100%;
    padding: 0px 9px;
    /*suggestion Ende*/ }
    .schlussscreen .tablet, .schlussscreen .desktop {
      display: none !important; }
    .schlussscreen .mobile {
      display: block !important; }
    .schlussscreen .linke-seite, .schlussscreen .rechte-seite {
      float: none;
      width: 100%; }
    .schlussscreen .highscore, .schlussscreen .suggestions h2 {
      display: none; }
    .schlussscreen .infos {
      display: inline-block; }
    .schlussscreen .quizbild {
      position: relative; }
      .schlussscreen .quizbild .headline {
        background: rgba(248, 245, 228, 0.9);
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-family: "Oswald", sans-serif;
        font-size: 16px;
        padding: 4px 0; }
      .schlussscreen .quizbild img {
        width: 100%;
        display: block;
        margin-top: 0.56em; }
    .schlussscreen .punkte {
      width: 100%;
      height: 33px; }
      .schlussscreen .punkte p {
        font-size: 16px;
        margin-top: -9px; }
    .schlussscreen .fussbaelle {
      width: 100%;
      height: 13px;
      line-height: 13px;
      margin: 7px 0px 13px 0px; }
    .schlussscreen .fussbaelle table {
      width: 100%;
      text-align: center; }
    .schlussscreen .fussbaelle img {
      width: 13px;
      height: 13px; }
    .schlussscreen .erneut, .schlussscreen .highscore-btn {
      width: 100%;
      background: #cb0727;
      color: white;
      height: 35px;
      margin-top: 7px;
      border: none;
      display: inline-block; }
      .schlussscreen .erneut p, .schlussscreen .highscore-btn p {
        font-family: 'NotoSans';
        font-size: 13px;
        text-align: center;
        text-decoration-line: none;
        margin-top: 8px; }
    .schlussscreen .erneut p {
      margin-top: -8px; }
    .schlussscreen .suggestions .sugg {
      clear: both;
      margin-top: 9px;
      width: 100%; }
      .schlussscreen .suggestions .sugg img {
        display: inline-block;
        width: 30%;
        height: 50px;
        float: left; }
      .schlussscreen .suggestions .sugg .sugg-infos {
        display: inline-block;
        font-size: 9px;
        height: 50px;
        width: 70%; }
        .schlussscreen .suggestions .sugg .sugg-infos .sugg-head {
          background: rgba(248, 245, 228, 0.9);
          height: 13px;
          line-height: 12px; }
        .schlussscreen .suggestions .sugg .sugg-infos .infos {
          height: 33px;
          display: inline;
          font-family: 'OswaldLight'; }
          .schlussscreen .suggestions .sugg .sugg-infos .infos .erstellt {
            margin-left: 7px; }
          .schlussscreen .suggestions .sugg .sugg-infos .infos .gespielt {
            float: right;
            padding-right: 7px;
            margin-top: -10px; } }

/*# sourceMappingURL=schlussscreen.css.map */
