@import "../app/assets/css/base";

 html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;

}

@font-face { font-family: 'OswaldLight'; 
            src: url('fonts/Oswald-Light.ttf') format('truetype'); }
@font-face { font-family: 'NotoSans'; 
            src: url('fonts/NotoSans-Regular.ttf') format('truetype'); }


body{
    max-height: auto;
    background-image: url(images/NeuStadion.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.schlussscreen{
	
	box-sizing: border-box;
	
	width: $content-width-desktop;
	margin: 0 auto;


	.tablet, .desktop{
		display: block !important;
	}
	
	.mobile{
		display: none  !important;
	}
		
	.inhalt::after{
		content: "";
		height: 0;
		display: block;
		clear: both;
	}
	
	.heading {
	    text-align: center;
	    color: $dark_black;
	    height: 50px;
	    background-color: $bright;
	}
	
	h1{
	    font-family: $base-font-family;
	    line-height: 50px;
	    color: $dark_black;
	    font-size: 24px;
	}
	
	.erneut {
	    background-color: $primary; 
	    color: $bright;
	    font-size: 20px;
	    border:none;
	    text-align: center;
	    text-decoration:none;
	    width: calc(100% - 30px);
	    height: 50px;
	    line-height: 50px;
	    display: inline-block;
	    font-family: 'NotoSans';
	}
	
	.erneut p{
	    text-align:center;
	}
		
	.ballFalsch img{
	    opacity: 30%;
	}
	
	.fussbaelle {
	    width: 100%;
	    height: 50px;
	    line-height: 50px;
	}
	
	.fussbaelle table {
	    width: calc(100% - 30px);
	    text-align: center;
	}
	
	.punkte {
	    background-color: $bg-yellow;
	    color: $dark_black;
	    font-size: 20px;
	    text-align:center;
	    width: calc(100% - 30px);
	    height: 50px;
	    line-height: 50px;
	    display: inline-block;
	    margin-top: 3px;
	    font-family: $base-font-family;
	
	}

    .suggestions {      
        
        &::after {
            content: "";
            height: 0;
            display: block;
            clear: both;
        }
        
        img {
           width: 100%;
	       height: 90px;
            display: block;
        }
        
        h2 {
            background-color: $bg-yellow;
            color: $dark_black;
            font-size: 20px;
            text-align:center;
            width: 100%;
            height: 3.125em;
            font-family: $base-font-family;
            line-height: 3.125em;
            display: inline-block;
            font-style: normal;
            margin-top: 20px;
            
        }
        
        .sugg {
            
            &:last-child {
                margin-right:  0px;
            }
            
            position: relative;
            float: left; 
            margin-right: 10px;
            width: calc((100% - 20px)/3);
            margin-top: 21px;
            
            .sugg-infos {
                position:absolute;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.7);
                width: 100%;
                height: 25px;
                line-height: 25px;
                font-family: 'NotoSans';
                
                .sugg-head{
                    font-family: $base-font-family;
                    text-align: center;
                    height: auto;
                }

            }
        }
        
    }
	
	.linke-seite {
	    float: left;
	    margin-top: 20px;
	    width: calc(52% - 55px);
	}
	
	.rechte-seite {
	    float: right;
        margin-top: 20px;
	    width: calc(54% - 55px);
	}
	
	.quizbild img {
	    margin-top: 5px;
	    width: calc(100% - 30px);
	    max-height: 275px;
	    object-fit: cover;
	}
	
	.rank img {
	    height: 15px;
	    width: 20px;
	}
	
	
	.highscore table{
	    width: 100%;
	    margin-top: -9px;
	    border-spacing: 0px 14px;
	}
	
	.highscore table th {
	    background-color: $bg-yellow;
	    text-align: left;
	    text-width: none;
	    font-family: $base-font-family;
	}
	.highscore table td {
	    background-color: rgba(255, 255, 255, 0.5);  
	    font-family: $base-font-family;
	}
	
	.highscore tr:last-child {
	    outline: solid 3px $primary;
	}
	
	.highscore-btn, .infos {
	    display: none;
	}
	

}





@media only screen and (max-width: $bp-tablet){
    
    .schlussscreen{
        
        
	box-sizing: border-box;
	
	width: $content-width-tablet;
	margin: 0 auto;
        
        
    }

}



@media only screen and (max-width: $bp-smartphone){
	
    body{
        background-image: url(images/background.jpg);
        max-height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    }
    
	.schlussscreen{
		
		box-sizing: border-box;
        
		width: 100%;
		padding: 9px;
		
		.tablet, .desktop{
			display: none !important;
		}
		
		.mobile{
			display: block !important;
		}
		
		.linke-seite, .rechte-seite{
			float:none;
			width: 100%;
		}
        
        .highscore, .suggestions h2{
	        display:none;
	    }
		
        .infos{
            display: inline-block;
        }
	    
        
        
        
	  
	   
	    
	    
	    .quizbild{
		 	
		 	position: relative;
		 	
			.headline{
				background: $bg-opak;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
                text-align: center;
                font-family: $base-font-family;
                font-size: 16px;
                padding: 4px 0;
			}
			
			img{
		        width: 100%;
		        display: block;
		        margin-top: 0.56em;
		    }   
	    }
	
	    .punkte{
            
            width: 100%;
            height: 33px;
                        
            p{
                font-size: 16px;
                margin-top: -15px;
            }
	    }
	       
        .fussbaelle {
            width: 100%;
            height: 13px;
            line-height: 13px;
            margin: 7px 0px 13px 0px;
        }
        
        .fussbaelle table{
            width: 100%;
            text-align: center;
        }
        
        .fussbaelle img{
            width: 13px;
            height: 13px;
        }
        
	    .erneut, .highscore-btn{
            width: 100%;
	        background: $primary;
	        color: $bright;
	        height: 35px;
	        margin-top: 7px;
	        border: none;
	        display: inline-block;
            
            p{
                font-family: 'NotoSans';
                font-size: 13px;
                text-align: center;
                text-decoration-line: none; 
                margin-top: 8px;
            }
	    }
	    
        .erneut p{
            margin-top: -8px;
        }
        
	    .suggestions{
            
            
            
            .sugg{
                
                clear: both;
                margin-top: 9px;
                width: 100%;
                
                img{
                    display: inline-block;
                    width: 30%;
                    height: 50px;
                    float: left;
                }
                
                .sugg-infos{
                    
                    display: inline-block;
                    font-size: 9px;
                    height: 50px;
                    width: 70%;
                    
                    .sugg-head{
                        background: $bg-opak;
                        height: 13px;
                        line-height: 12px;
                    }
                    
                    .infos{
                        
                        height: 33px;
                        display: inline;
                        font-family: 'OswaldLight';
                        
                        .erstellt{
                            margin-left: 7px;
                        }
                        
                        .gespielt{
                            float: right;
                            padding-right: 7px;
                            margin-top: -10px;
                        }
                    }
                } 
            }
        }/*suggestion Ende*/
	}
}