/* Variabeln
###################################################### */
/* Bausteine
###################################################### */
.button {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px #cb0727;
  padding: 5px;
  color: #fff;
  width: 100%; }

.button.is-primary {
  background-color: #ff3737; }

.liste th {
  background-color: #E9C20C;
  text-align: left; }

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
  width: 10%;
  text-align: center; }

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
  width: 40%; }

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
  width: 10%;
  text-align: right; }

th, td {
  padding: 4px;
  color: black; }

td {
  background: rgba(248, 245, 228, 0.7); }

html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0; }

@font-face {
  font-family: 'OswaldRegular';
  src: url("fonts/Oswald-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'OswaldLight';
  src: url("fonts/Oswald-Light.ttf") format("truetype"); }
@font-face {
  font-family: 'NotoSans';
  src: url("fonts/NotoSans-Regular.ttf") format("truetype"); }
body {
  max-height: auto;
  background-image: url(images/NeuStadion.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; }

.schlussscreen {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto; }
  .schlussscreen .tablet, .schlussscreen .desktop {
    display: block !important; }
  .schlussscreen .mobile {
    display: none  !important; }
  .schlussscreen .inhalt::after {
    content: "";
    height: 0;
    display: block;
    clear: both; }
  .schlussscreen .heading {
    text-align: center;
    color: black;
    /*width: calc(100%-30px); */
    height: 50px;
    background-color: white;
    /*margin-left: 15px;
    margin-right: 15px; */ }
  .schlussscreen h1 {
    font-family: 'OswaldRegular';
    line-height: 50px;
    color: black;
    font-size: 24px; }
  .schlussscreen .erneut {
    background-color: #cb0727;
    color: white;
    font-size: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    width: calc(100% - 30px);
    height: 50px;
    line-height: 50px;
    display: inline-block;
    font-family: Noto-Sans; }
  .schlussscreen .erneut p {
    text-align: center; }
  .schlussscreen .fussbaelle img {
    height: 15px;
    width: 15px; }
  .schlussscreen .ballFalsch img {
    opacity: 30%; }
  .schlussscreen .fussbaelle {
    width: 100%;
    height: 50px;
    line-height: 50px; }
  .schlussscreen .fussbaelle table {
    width: calc(100% - 30px);
    text-align: center; }
  .schlussscreen .punkte {
    background-color: #e9c20c;
    color: black;
    font-size: 125%;
    text-align: center;
    width: calc(100% - 30px);
    height: 312.5%;
    line-height: 312.5%;
    display: inline-block;
    margin-top: 3px;
    font-family: 'OswaldRegular'; }
  .schlussscreen .suggestions {
    background-color: #e9c20c;
    color: black;
    font-size: 1.25em;
    text-align: center;
    width: calc(100% - 30px);
    height: 3.125em;
    font-family: 'OswaldRegular';
    line-height: 3.125em;
    display: inline-block;
    font-style: normal;
    margin-top: 0.188em; }
  .schlussscreen .suggestions::after {
    content: "";
    height: 0;
    display: block;
    clear: both; }
  .schlussscreen .suggestions img {
    width: 100%;
    height: 70px; }
  .schlussscreen .suggestions .sugg {
    float: left;
    margin-right: 10px;
    width: calc((100% - 20px)/3);
    margin-top: 21px; }
  .schlussscreen .suggestions .sugg:last-child {
    margin-right: 0px; }
  .schlussscreen .suggestions .sugg div {
    position: relative;
    top: -36px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 113px;
    height: 20px;
    line-height: 20px;
    font-family: 'Noto-Sans'; }
  .schlussscreen .linke-seite {
    float: left;
    /*padding: 50px;
    padding-right: 5px;*/
    margin-top: 20px;
    width: calc(50% - 55px); }
  .schlussscreen .rechte-seite {
    float: right;
    /*padding: 50px;
    padding-left: 5px;*/
    margin-top: 20px;
    width: calc(50% - 55px); }
  .schlussscreen .quizbild img {
    margin-top: 5px;
    width: calc(100% - 30px);
    max-height: 275px;
    object-fit: cover; }
  .schlussscreen .rank img {
    height: 15px;
    width: 20px; }
  .schlussscreen .highscore table {
    /*width: calc(100% - 30px);*/
    width: 100%;
    margin-top: -9px;
    border-spacing: 0px 14px; }
  .schlussscreen .highscore table th {
    background-color: #e9c20c;
    text-align: left;
    text-width: none;
    font-family: 'OswaldRegular'; }
  .schlussscreen .highscore table td {
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'OswaldRegular'; }
  .schlussscreen .highscore tr:last-child {
    outline: solid 3px #cb0727; }
  .schlussscreen .highscore-btn, .schlussscreen .infos {
    display: none; }

@media only screen and (max-width: 800px) {
  .schlussscreen {
    width: 100%;
    padding: 20px; }
    .schlussscreen .tablet, .schlussscreen .desktop {
      display: none !important; }
    .schlussscreen .mobile {
      display: block !important; }
    .schlussscreen .linke-seite, .schlussscreen .rechte-seite {
      float: none;
      width: 100%; }
    .schlussscreen body {
      background: purple; }
    .schlussscreen .heading {
      /*height: 200%;
      width: calc(100% - 21px);*/
      background: #f8f5e4;
      position: absolute;
      transform: translate(11px);
      margin-top: 6em;
      margin-bottom: 0em;
      display: inline-block; }
    .schlussscreen h1 {
      text-align: center;
      margin-top: 0.25em;
      font-family: 'OswaldRegular';
      font-size: 1em;
      line-height: 1em; }
    .schlussscreen .quizbild {
      position: relative; }
      .schlussscreen .quizbild .headline {
        background: pink;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0; }
      .schlussscreen .quizbild img {
        width: 100%;
        display: block;
        margin-top: 0.56em; }
    .schlussscreen .punkte {
      height: 2.1em;
      width: calc(100% - 21px);
      transform: translate(11px); }
    .schlussscreen .punkte p {
      text-align: center;
      font-family: 'OswaldRegular';
      font-size: 0.8em;
      margin-top: 0.55em; }
    .schlussscreen .fussbaelle img {
      height: 0.75em;
      width: 0.75em; }
    .schlussscreen .fussbaelle {
      width: 100%; }
    .schlussscreen .fussbaelle table {
      /*width: calc(100% - 30px);*/
      text-align: center; }
    .schlussscreen .erneut, .schlussscreen .highscore-btn {
      background: #cb0727;
      color: white;
      height: 2.1em;
      width: calc(100% - 21px);
      transform: translate(11px);
      margin-top: 0.8em;
      border: none;
      display: inline-block; }
    .schlussscreen .erneut p, .schlussscreen .highscore-btn p {
      font-family: 'NotoSans';
      font-size: 0.8em;
      text-align: center;
      text-decoration-line: none;
      margin-top: 0.5em; }
    .schlussscreen .highscore, .schlussscreen h2 {
      display: none; }
    .schlussscreen .suggestions {
      margin-top: 1em;
      /*width: calc(100% - 21px);*/
      width: 100%;
      transform: translate(11px); }
    .schlussscreen .sugg {
      height: 2.9em;
      display: block;
      margin-bottom: 7pt;
      margin-top: auto; }
    .schlussscreen .sugg img {
      display: inline-block;
      height: 2.9em; }
    .schlussscreen .sugg-infos {
      height: 2.9em;
      width: calc(100% - 76px);
      /*float: right; */
      font-size: 0.55em;
      display: inline-block; }
    .schlussscreen .sugg-head {
      font-family: "Oswald", sans-serif;
      text-align: center;
      background: #f8f5e4; }
    .schlussscreen .infos {
      background: rgba(248, 245, 227, 0.6); }
    .schlussscreen .erstellt {
      font-family: 'OswaldLight';
      text-align: left;
      padding-left: 0.5em; }
    .schlussscreen .gespielt {
      font-family: 'OswaldLight';
      text-align: right; } }

/*# sourceMappingURL=schlussscreen.css.map */
