@import "../app/assets/css/base";

 html, body, header, footer, hgroup, nav, article, section, figure, figcaption, h1, h2, h3, ul, li, body, div, p, img
{
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    border: 0;

}

@font-face { font-family: 'OswaldLight'; 
            src: url('fonts/Oswald-Light.ttf') format('truetype'); }
@font-face { font-family: 'NotoSans'; 
            src: url('fonts/NotoSans-Regular.ttf') format('truetype'); }


body{
    max-height: auto;
    background-image: url(images/NeuStadion.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



.schlussscreen{
	
	box-sizing: border-box;
	
	width: $content-width-desktop;
	margin: 0 auto;


	.tablet, .desktop{
		display: block !important;
	}
	
	.mobile{
		display: none  !important;
	}
		
	.inhalt::after{
		content: "";
		height: 0;
		display: block;
		clear: both;
	}
	
	.heading {
	    text-align: center;
	    color: $dark_black;
	    height: 50px;
	    background-color: $bright;
	}
	
	h1{
	    font-family: $base-font-family;
	    line-height: 50px;
	    color: $dark_black;
	    font-size: 24px;
	}
	
	.erneut {
	    background-color: $primary; 
	    color: $primary-light;
	    font-size: 20px;
	    border:none;
	    text-align: center;
	    text-decoration:none;
	    width: calc(100% - 30px);
	    height: 50px;
	    line-height: 50px;
	    display: inline-block;
	    font-family: 'NotoSans';
	}
	
	.erneut p{
	    text-align:center;
	}
	
	.fussbaelle img{
	    height: 15px;
	    width: 15px;
	}
	
	.ballFalsch img{
	    opacity: 30%;
	}
	
	.fussbaelle {
	    width: 100%;
	    height: 50px;
	    line-height: 50px;
	}
	
	.fussbaelle table {
	    width: calc(100% - 30px);
	    text-align: center;
	}
	
	.punkte {
	    background-color: $bg-yellow;
	    color: $dark_black;
	    font-size: 125%;
	    text-align:center;
	    width: calc(100% - 30px);
	    height: 312.5%;
	    line-height: 312.5%;
	    display: inline-block;
	    margin-top: 3px;
	    font-family: $base-font-family;
	
	}

    .suggestions {      
        
        &::after {
            content: "";
            height: 0;
            display: block;
            clear: both;
        }
        
        img {
           width: 100%;
	       height: 90px;
            display: block;
        }
        
        h2 {
            background-color: $bg-yellow;
            color: $dark_black;
            font-size: 1.25em;
            text-align:center;
            width: 100%;
            height: 3.125em;
            font-family: $base-font-family;
            line-height: 3.125em;
            display: inline-block;
            font-style: normal;
            margin-top: 20px;
            
        }
        
        .sugg {
            &:last-child {
                margin-right:  0px;
            }
            
            position: relative;
            float: left; 
            margin-right: 10px;
            width: calc((100% - 20px)/3);
            margin-top: 21px;
            
            .sugg-infos {
                position:absolute;
                bottom: 0;
                background-color: rgba(255, 255, 255, 0.7);
                width: 100%;
                height: 25px;
                line-height: 25px;
                font-family: 'NotoSans';
                
                .sugg-head{
                    font-family: $base-font-family;
                    text-align: center;
                    height: auto;
                }

            }
        }
        
    }
	
	.linke-seite {
	    float: left;
	    margin-top: 20px;
	    width: calc(50% - 55px);
	}
	
	.rechte-seite {
	    float: right;
        margin-top: 20px;
	    width: calc(50% - 55px);
	}
	
	.quizbild img {
	    margin-top: 5px;
	    width: calc(100% - 30px);
	    max-height: 275px;
	    object-fit: cover;
	}
	
	.rank img {
	    height: 15px;
	    width: 20px;
	}
	
	
	.highscore table{
	    width: 100%;
	    margin-top: -9px;
	    border-spacing: 0px 14px;
	}
	
	.highscore table th {
	    background-color: $bg-yellow;
	    text-align: left;
	    text-width: none;
	    font-family: $base-font-family;
	}
	.highscore table td {
	    background-color: rgba(255, 255, 255, 0.5);  
	    font-family: $base-font-family;
	}
	
	.highscore tr:last-child {
	    outline: solid 3px $primary;
	}
	
	.highscore-btn, .infos {
	    display: none;
	}
	

}





@media only screen and ($bp-tablet){
    
    .schlussscreen{
        
        
        
        
    }

}



@media only screen and ($bp-smartphone){
	
	.schlussscreen{
		
		
		width: 100%;
		padding: $base-padding;
		
		.tablet, .desktop{
			display: none !important;
		}
		
		.mobile{
			display: block !important;
		}
		
		.linke-seite, .rechte-seite{
			float:none;
			width: 100%;
		}
		
	    body{
	        background: purple;
	    }
	        
	    .heading{
	        /*height: 200%;
	        width: calc(100% - 21px);*/
	        background: rgb(248, 245, 228);
	        position: absolute;
	        transform: translate(11px);
	        margin-top: 6em;
	        margin-bottom: 0em; 
	        display: inline-block;
	    }
	    
	    h1{
	        text-align: center;
	        margin-top: 0.25em;
	        font-family: $base-font-family;
	        font-size: 1em;
	        line-height: 1em;
	    }
	    
	    
	    .quizbild{
		 	
		 	position: relative;
		 	
			.headline{
				background: pink;
				position: absolute;
				left: 0;
				right: 0;
				bottom: 0;
			}
			
			img{
		        width: 100%;
		        display: block;
		        margin-top: 0.56em;
		    }   
	    }
	
	    .punkte{
	        height: 2.1em;
	        width: calc(100% - 21px);
	        transform: translate(11px);
	    }
	    
	    .punkte p{
	        text-align: center;
	        font-family: $base-font-family;
	        font-size: 0.8em;
	        margin-top: 0.55em;
	    }
	
	    .fussbaelle img{
	        height: 0.75em;
	        width: 0.75em;
	    }
	    
	    .fussbaelle{
	        width: 100%; 
	    }
	    
	    .fussbaelle table {
	        /*width: calc(100% - 30px);*/
	        text-align: center;
	    }
	        
	    .erneut, .highscore-btn{
	        background: $primary;
	        color: $bright;
	        height: 2.1em;
	        width: calc(100% - 21px);
	        transform: translate(11px);
	        margin-top: 0.8em;
	        border: none;
	        display: inline-block;
	    }
	    
	    .erneut p, .highscore-btn p{
	        font-family: 'NotoSans';
	        font-size: 0.8em;
	        text-align: center;
	        text-decoration-line: none; 
	        margin-top: 0.5em;
	    }
	
	    .highscore, h2{
	        display:none;
	    }
	
	    .suggestions{
	        margin-top: 1em;
	        /*width: calc(100% - 21px);*/
	        width: 100%;
	        transform: translate(11px);
	    }
	    
	    .sugg{
	        height: 2.9em;
	        display: block;
	        margin-bottom: 7pt;
	        margin-top: auto;
	    }
	    
	    .sugg img{
	        display: inline-block;
	        height: 2.9em;
	    }
	    
	    .sugg-infos{
	        height: 2.9em;
	        width: calc(100% - 76px);
	        /*float: right; */
	        font-size: 0.55em;
	        display: inline-block;
	    }
	    
	    .sugg-head{
	        font-family: $base-font-family;
	        text-align: center;
	        background: rgb(248, 245, 228);
	    }
	    
	    .infos{
	        background: rgba(248, 245, 228, 0.6);
	    }
	    
	    .erstellt{
	        font-family: 'OswaldLight';
	        text-align: left;
	        padding-left: 0.5em;
	    }
	    
	    .gespielt{
	        font-family: 'OswaldLight';
	        text-align: right;
	    }
	}
}