/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	.left {
		top: 35%;
		left: 5%;
	}
	.right {
		right: 5%;
	}
	.field {
		width: 100%;
	}
	.message_field {
		width: 100%;
	}
	.contacts_info {
		text-align: left;
	}
	.ticket {
		max-width: 300px;
	}
	.merkel img {
		max-width: 450px;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	
	h1.slide_title {
		font-size: 3.5vw;
	}
	h2.slide_subtitle {
		font-size: 2.5vw;
	}
	h3 {
	font-size: 20px;
}
	.slide_item {
		max-height: 400px;
	}
	.ipad img {
		max-width: 288px;
	}
	.iphone img {
		max-width: 120px;
	}
	.ticket {
		max-width: 250px;
	}
	.merkel img {
		max-width: 350px;
	}
	.item {
		width: 50%;
	}

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	h1.slide_title {
		font-size: 3vw;
	}
	h2.slide_subtitle {
		font-size: 2vw;
	}
	.btn_more {
		width: 80px;
		margin-top: 10px;
		margin-left: -40px;
		font-size: 10px;
	}
	.ipad img {
		max-width: 216px;
	}
	.iphone img {
		max-width: 90px;
	}
	.top_links {
		display: none;
	}
	.top_mobile {
		display: inline-block;
		font-size: 20px;
		margin-top: -4px;
	}
	.main_mnu ul {
		display: none;
		margin: 60px -40px 30px 0;
	}
	.main_mnu ul > li {
		text-align: right;
		display: table-caption;
		font-size: 30px;
		margin: 0;
	}
	.ticket {
		max-width: 200px;
	}
	.merkel img {
		max-width: 250px;
	}
	
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.btn_more {
		width: 60px;
		margin-left: -30px;
		font-size: 8px;
		padding: 4px 0;
	}
	.ipad img {
		max-width: 144px;
	}
	.iphone img {
		max-width: 60px;
	}
	.item {
		position: relative;
		width: 100%;
	}
	#about img {
		width: 100%;
	}
	.ticket {
		max-width: 150px;
	}
	.merkel img {
		max-width: 200px;
	}
	#team img {
		width: 100%;
	}
	.impressum_link  {
		margin-right: 40px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}