@import "../../assets/css/base";

.quizuebersicht{
	
	.content{
				
		width: 1000px;
		margin: 0 auto;
        margin-top: 70px;
	
		.sortierliste{
            margin-top: $gutter-width;
			background-color: $bg-yellow;
			margin: 0;
			padding: 0;
			
			.sortiercontent{
				margin: 0; padding: 0;
				display: flex;
	
				> li{
					display: inline-block;
					flex-grow: 1;
					text-align: center;
				}
			}
		}		

		.kacheln{
	
		    display: flex;
		    flex-wrap:wrap;
		    margin-left: -$gutter-width;
		    margin-right: -$gutter-width;
		    
		    .quizkachel{
			    box-sizing: border-box;
			    display: block;
			    flex-basis: 25%;
			    /*flex-grow: 1;*/
			    margin-bottom: $base-margin;
			    padding: $gutter-width; 
				
				.quizkachel-inner{
                    margin-bottom: 0em;
                    margin-top: 0em;
					background: $bg-opak;
					color: $dark_black;
					height: 100%;
					position: relative;
					
                    .basicInfos{
                    
                        .quizueberschrift{
                            background-color: rgba(248,245,228,1);
                            text-align: center;
                            }
                        
                        .erstellinfos, .datum{
                            width: relative;
                            float: left;
                            font-weight: $font-weight-light;
                            font-size: 10pt; 
                            padding-bottom: $base-padding;
                        }
                        
                        .erstellinfos{
                            padding-left: $base-padding;
                        }
                        
                        .anzGespielt.mobile{
                            display: none;
                        }
                    }
                    .inhalt{
                        font-weight: $font-weight-light;
                        
                        .beschreibung{
                            float: left;
                            padding-left: $base-padding;
                            padding-right: $base-padding;
                            font-size: 10pt;
                        }
                        
                        .anzGespielt.desktop.tablet{
                            font-weight: $font-weight-light;
                            padding-right: $base-padding;
                            text-align: right;
                            float: right;
                            font-size: 10pt;
                        }
                    }
                    
				    .auswahl-button{
                        font-size: 12pt;
						position: relative;
                        bottom: 0;
                        right: 0;
                        left: 0;
                        }
                    
				}
                
			      
			    .quizbild{
				    width: 100%;
			    }
		    }
		}		
	}
    
    @media only screen and (min-width: $bp-smartphone) and (max-width: $bp-tablet){
		
		.content{
		
			width: $content-width-tablet;
			
			.kacheln{
				.quizkachel{
					flex-basis: 33%;	
				}
			}

		}   
	}
    
	@media only screen and (max-width: $bp-smartphone){
		
		.content{
			width: 100%;
			padding: $gutter-width;
			
			.kacheln{
				display: block;
                
                .quizkachel{
                    
                    .quizkachel-inner{
                        
                        .basicInfos{
                            
                            float: left;
                            .quizbild{
                                float: left;
                                width: 113px;
                                height: 70px;
                            }
                        }
                    }
                }
			}

            
		}  
        .hidden{
                display: none;
        }
        
	}
         
}


