@import "../../assets/css/base";


.quizuebersicht{
	
	.content{
				
		width: 1000px;
		margin: 0 auto;
	
		.Sortierliste{
			background-color: $bg-yellow;
			margin: 0;
			padding: 0;
			
			.sortiercontent{
				margin: 0; padding: 0;
				display: flex;
	
				> li{
					display: inline-block;
					flex-grow: 1;
					text-align: center;
				}
			}
		}		

		.kacheln {
	
		    display: flex;
		    flex-wrap:wrap;
		    margin-left: -$gutter-width;
		    margin-right: -$gutter-width;
		    
		    .Quizkachel{
			    box-sizing: border-box;
			    display: block;
			    flex-basis: 25%;
			    /*flex-grow: 1;*/
			    margin-bottom: $base-margin;
			    padding: $gutter-width;
				
				.quizkachel-inner{
					background: $bg-opak;
					color: #000;
					height: 100%;
					position: relative;
					
					.auswahl-button{
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0; 
					}
				}
			      
			    .Quizbild{
				    width: 100%;
			    }
		    }
		}		
	}
	
	@media only screen and (max-width: $bp-tablet){
		
		.content{
			width: $content-width-tablet;
			
			.kacheln{
				.Quizkachel{
					flex-basis: 33%;	
				}
			}

		}
		
	}

}