/* Variabeln
###################################################### */
/* Bausteine
###################################################### */
.button {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px #cb0727;
  padding: 5px;
  color: #fff;
  width: 100%; }

.button.is-primary {
  background-color: #ff3737; }

.liste th {
  background-color: #E9C20C;
  text-align: left; }

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
  width: 10%;
  text-align: center; }

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
  width: 40%; }

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
  width: 10%;
  text-align: right; }

th, td {
  padding: 4px;
  color: black; }

td {
  background: rgba(248, 245, 228, 0.7); }

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.quizuebersicht .content {
  margin: 0 auto; }
  .quizuebersicht .content .sortierliste {
    background-color: #e9c20c;
    margin: 0;
    padding: 0; }
    .quizuebersicht .content .sortierliste .sortiercontent {
      margin: 0;
      padding: 0;
      display: flex; }
      .quizuebersicht .content .sortierliste .sortiercontent > li {
        display: inline-block;
        flex-grow: 1;
        text-align: center; }
  .quizuebersicht .content .kacheln {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px; }
    .quizuebersicht .content .kacheln .quizkachel {
      box-sizing: border-box;
      display: block;
      flex-basis: 25%;
      /*flex-grow: 1;*/
      margin-bottom: 5px;
      padding: 10px; }
      .quizuebersicht .content .kacheln .quizkachel .quizkachel-inner {
        background: rgba(248, 245, 228, 0.9);
        color: #000;
        height: 100%;
        position: relative; }
        .quizuebersicht .content .kacheln .quizkachel .quizkachel-inner .auswahl-button {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0; }
      .quizuebersicht .content .kacheln .quizkachel .quizbild {
        width: 100%; }
@media only screen and (max-width: 1024px) {
  .quizuebersicht .content .sortierliste {
    margin: 0;
    padding: 0; }
  .quizuebersicht .sortierliste {
    background-color: #e9c20c;
    margin-top: 15px;
    padding: 0; }
  .quizuebersicht body {
    background-image: url(image/8-324_fussballstadion.jpg);
    background-color: darkgray;
    /**ENTFERNEN!!**/
    font-size: 100%;
    margin: 0em;
    padding: 0em; }
  .quizuebersicht .auswahl {
    background-color: transparent;
    padding: 0;
    position: relative;
    margin-top: -10pt; }
  .quizuebersicht .content {
    width: 800px;
    padding: 0;
    margin: 0 auto;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-self: stretch;
    align-content: center; }
  .quizuebersicht .kacheln uebersicht {
    margin-right: 0; }
  .quizuebersicht .inhalt {
    position: absolute;
    bottom: 40px;
    width: 100%; }
  .quizuebersicht h1 {
    font-size: 1em;
    line-height: 2.5em;
    font-family: Helvetica;
    font-weight: 100;
    color: #2F2D2C;
    margin: -0.6em; }
  .quizuebersicht .quizbild {
    display: block;
    margin: auto;
    width: 100%;
    height: 100pt; }
  .quizuebersicht p {
    line-height: 0.5em;
    font-family: Helvetica;
    font-weight: 100;
    color: #2F2D2C; }
  .quizuebersicht .quizkachel {
    box-sizing: border-box;
    display: block;
    flex-basis: 33%;
    /*flex-grow: 1;*/
    margin-bottom: 5px;
    padding: 10px;
    /**  //float: left;
      //display:inline-block;
      background: beige ;
      //width:  172.5pt;
      //height: 353.31px;
     
      // width: calc((100% - 120px - 30px)/3);
      min-width: 150px;
      min-height: 34.502%;
      margin: 0;
      margin-bottom: 15px;
      margin-right: 15px;
      margin-top: 15px;
      position: relative;
      text-align:center;**/ }
    .quizuebersicht .quizkachel .quizkachel-inner {
      background: rgba(248, 245, 228, 0.9);
      color: #000;
      height: 100%;
      position: relative; }
      .quizuebersicht .quizkachel .quizkachel-inner .auswahl-button {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0; }
  .quizuebersicht .button {
    background-color: #CB0727;
    border: none;
    color: white;
    padding: 0px 0px 10px 0px;
    text-align: center;
    text-decoration: none;
    font-family: Oswald;
    font-size: 20px;
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0px; }
  .quizuebersicht .erstellinfos {
    font-family: Oswald;
    font-weight: 50;
    color: #2F2D2C;
    text-align: left;
    background: beige;
    display: block;
    line-height: 10px;
    height: 5px;
    margin: 5px 10px 0 0; }
  .quizuebersicht .datum {
    font-size: 10pt; }
  .quizuebersicht .anzGespielt, .quizuebersicht .desktop, .quizuebersicht .tablet {
    font-size: 8pt;
    text-align: right;
    font-weight: lighter;
    background-color: rgba beige;
    margin: 0;
    width: calc(100%-5px);
    height: 1pt;
    float: right; }
  .quizuebersicht .anzGespielt mobile {
    display: none; }
  .quizuebersicht .beschreibung {
    text-align: left;
    font-weight: lighter;
    line-height: 14px;
    font-size: 10pt;
    background-color: #f8f5e4;
    height: 80pt;
    margin-left: 10px;
    padding-left: 0; }
  .quizuebersicht #img {
    background-color: burlywood;
    /**ENTFERNEN!!**/
    margin-left: -10px;
    width: 250px;
    height: 50px; } }

/*# sourceMappingURL=quizuebersicht-tablet.css.map */
