@import "../../assets/css/base";

//"SEMI-CHANGELOG"
//- (1) Der aktive Punkt in der Sortierleiste wurde eingefügt
//- (2) Um "anzGespielt mobile" und "datum" wurde im HTML eine div gezogen, 
//  sodass die beiden Elemente eleganter auf einer Linie zu positionieren sind (mobile)
//- (3) bottom: -1px; bei den Buttons, damit die eine Pixelzeile verschwindet
//- (4) text-decoration bei der Sortierleiste raus genommen & schwarz gesetzt

.quizuebersicht{
    
    
    
    
	/********************************************************************************
	*                                                                               *
	*                              DESKTOP-ANSICHT                                  *
	*                                                                               *
	*********************************************************************************/
    
    
	.content{
				 
		width: $content-width-desktop;
		margin: 0 auto;
        margin-top: 70px;
        
		.sortierliste{
            margin-top: $gutter-width;
			background-color: $bg-yellow;
			//margin: 0; Hat in der mobilen Ansicht tatsächlich dafpr gesorgt, dass die Sortieritems nicht mehr ordentlich dargesttllt wurden.
			padding: 0;
            
			
			.sortiercontent{
				margin: 0; padding: 0;
				display: flex;
	
				> li{
					display: inline-block;
					flex-grow: 1;
					text-align: center;
                    
                    > a{    //(4)
                        text-decoration: none;
                        color: $dark_black;
                    }
				}
			}
            .top.active{    //(1)
                border-bottom: 5px solid rgba(0,0,0,0.7);
            }
            
		}		

		.kacheln{
	
		    display: flex;
		    flex-wrap:wrap;
		    margin-left: -$gutter-width;
		    margin-right: -$gutter-width;
		    
		    .quizkachel{
			    box-sizing: border-box;
			    display: block;
			    flex-basis: 25%;
			    margin-bottom: $base-margin;
			    padding: $gutter-width; 
				
				.quizkachel-inner{
					
					@extend .shadow;
					
                    margin-bottom: 0;
                    margin-top: 0;
					background: $bg-opak;
					color: $dark_black;
					height: 100%;
					position: relative;
					
                    .basicInfos{  
                            height: 230px;
                            background-color: $bright;
                        
                        .quizueberschrift{
                            height: 18pt;
                            background-color: $bright;
                            text-align: center;
                            }
                        
                        .erstellinfos, .datum{
                            width: relative;
                            float: left;
                            font-weight: $font-weight-light;
                            font-size: 10pt; 
                            padding-bottom: $base-padding;
                        }
                        
                        .erstellinfos{
                            padding-left: $base-padding;
                        }
                        
                        .anzGespielt.mobile{
                            display: none;
                        }
                    }
                    .inhalt{
                        font-weight: $font-weight-light;
                        
                        .beschreibung{
                            margin-top: $base-margin;
                            height: 95px;
                            float: left;
                            padding-left: $base-padding;
                            padding-right: $base-padding;
                            font-size: 10pt;
                        }
                        
                        .anzGespielt.desktop.tablet{
                            font-weight: $font-weight-light;
                            padding-right: $base-padding;
                            text-align: right;
                            float: right;
                            font-size: 10pt;
                            margin-top: $base-margin;
                        }
                    }
                    
				    .auswahl-button{
                        font-weight: $font-weight-light;
                        border: none;
                        height: 25pt;
                        background-color: $primary;
                        font-size: 12pt;
						position: relative;
                        bottom: -1px;   //(3)
                        right: 0;
                        left: 0;
                        }
                    
				}
			    .quizbild{
				    width: 100%;
			    }
		    }
		}		
	}
}


@media only screen and (min-width: $bp-smartphone) and (max-width: $bp-tablet){
    
    
    
    
    /********************************************************************************
	*                                                                               *
	*                               TABLET-ANSICHT                                  *
	*                                                                               *
	*********************************************************************************/
   
		
		 @media only screen and (min-width: $bp-smartphone) and (max-width: $bp-tablet){

        
        .content{
            width: $content-width-tablet;
            padding: 0;
            margin: 0 auto;
            list-style: none;
            flex-direction: row;
            flex-wrap: wrap-reverse;
            justify-content:center;
            align-self: stretch;
            align-content: center;
        
            
            .content .sortierliste{
                margin: 0; 
                padding: 0;
    
    
                .sortierliste{
			         background-color: $bg-yellow;
			         margin-top:  15px;
			         padding: 0;    
                }
            }
            
            .kacheln{
		        display: flex; // erzeugt Flexboxen aus allen direkten Nachkommen des Elements und richtet diese zentriert aus.
		        flex-wrap: wrap; // die flexiblen Elemente können sich wenn nötig innerhalb des Containers in mehrere Zeilen aufteilen.
                margin-left: -$gutter-width;
		        margin-right: -$gutter-width;
                
                .quizkachel{
        
                    box-sizing: border-box;     		   
                    display: block;
                    flex-basis: 33%;  // Festlegung der Maximalen Hauptgröße des flex-Elements. 
                    /*flex-grow: 1;*/
                    margin-bottom: $base-margin;
                    padding: $gutter-width;
                
                    .quizkachel-inner{
        
                        background: $bg-opak;
                        color: #000;
                        height: 100%;
                        position: relative;
                
                
                            .basicInfos{        //Da die .erstellinfos und .datum nicht in einer div sind, wurde hier ein wenig getrickst um dennoch den korrekten Hintergrund unter dem Bild zu haben.
                                background-color: $bg-opak;  
                                height: 203px;
                                
                                .quizueberschrift{
                                    height: 18pt;   // 
                                    background-color: $bright;
                                    text-align: center;
                                }

                                .erstellinfos{
                                    color: #2F2D2C;
                                    text-align: left;
                                    background:beige;
                                    display: block;  
                                    line-height: 10px;      
                                    height: 5px;
                                    margin: 2px 3px 0 $base-margin;
                                    font-family: Oswald;
                                    font-weight: $font-weight-light;

                                }

                               .datum{
                                    font-size: 10pt;
                                    margin-top: -3px;
                                    font-family: Oswald;
                                    font-weight: $font-weight-light;
                        
                                }

                                   

                                .anzGespielt mobile{
                                    display: none; // Es handelt sich hirbei um eine Tablet Ansicht ergo wird dies für die Mobile Ansicht ausgeschaltet 
                                } 
                            } 
                            .inhalt{
                                
                                .beschreibung{
                                    height: 65px;
                                    text-align: left; 
                                    font-weight: lighter;
                                    line-height: 17px;
                                    font-size: 10pt;
                                    margin: $gutter-width 0 25px $gutter-width;
                                    padding-left: 0;
                                    font-family: Oswald;
                                    font-weight: $font-weight-light;
                       
                                }
                                
                                .anzGespielt.desktop.tablet{
                                    float: right;
                                    margin-right: 10px;
                                    margin-bottom: $gutter-width;
                                    font-family: Oswald;
                                    font-weight: $font-weight-light;
                        
                                }
                            }

                            .auswahl-button{
                                position: relative;
                            } 
                    }  //Ende .quizkachel-inner
                } // Ende .quizkachel
            } // Ende .kacheln
        } // Ende .content 
    }  // Ende Breakpoint Tablet 
    
    
    
    
    /********************************************************************************
	*                                                                               *
	*                               MOBILE-ANSICHT                                  *
	*                                                                               *
	*********************************************************************************/
    
    
	@media only screen and (max-width: $bp-smartphone){
		
		.content{ 
			width: $content-width-smartphone;
			padding: $gutter-width;
			margin-top: 0;
        
            .sortierliste{
                margin-bottom: $gutter-width;
                
                .sortiercontent *{ //Schriftanpassung in der Sortierleiste
                    text-decoration: none;
                    color: black;
                }
            }
            
			.kacheln{
				display: block; //Kacheln werden im block angeordnet
                
                .quizkachel{
                    padding-bottom: 0;
                    padding-top: 0;
                    margin-top: $gutter-width;
        
                    .quizkachel-inner{
	                    
	                    .basicInfos::after{ //nach der Klasse .basicInfos werden die Attribute "display", "content", "overflow" & die floats zurückgesetzt
		                    content: ".";
		                    display: block;
		                    clear: both;
		                    height: 0;
		                    overflow: hidden;
	                    }
	                    
                        .basicInfos{ 
                            height: initial;
                            background-color: initial;
                            
                            .quizbild{  //das Quizbild muss links sein und eine feste Größe haben
                                float: left;
                                width: 113px;
                                height: 70px;
                            }
                            
                            .quizueberschrift{ 
                                text-align: center;
                                width: calc(100% - 113px);  //Die Größe des Hintergrundes in der Überschrift ergibt sich genau aus der Gesamtgröße der Kachel - der Bildbreite
                                height: 16px;
                                float: right;
                                background-color: $bg-opak;
                                font-size: 14px;
                                line-height: 18px;
                            }
                            
                            .erstellinfos, .datum{
                                padding-left: 0;
                                font-size: 11px;
                                margin-left: calc(113px + 15px); //Die Erstellinfos und das Datum müssen erstmal weiter als das Bild gehen und danach noch zusätzliche 15px
                                float: none;
                            }
                        
                            .datum{
                                margin-left: 15px;
                                float:left;
                            }
                            
                            .anzGespielt.mobile{
                                display: block;
                                font-size: 11px;
                                font-weight: $font-weight-light;
                                margin-right: 15px;
                                float: right;
                            }
                        } //Ende .basicInfos
                        .inhalt{
                            .beschreibung{
                                font-size: 14px;
                                margin-top: 15px;
                                margin-bottom: 15px;
                                margin-left: 15px;
                                margin-right: 15px;
                                height: initial;
                            }
                        }
                        .auswahl-button{
                            position: relative;
                        }
                    } //Ende .quizkachel-inner
				} //Ende .quizkachel
			} //Ende .kacheln 
		} //Ende .content
        
        .anzGespielt.desktop.tablet{
            display: none;  //Die Anzeige für die Anzahl der gespielten Spiele im Tablet- & Desktopmodus soll nicht angezeigt werden, da wir uns in diesem BP ja schließlich nicht in diesen befinden
        }
    
        .quizkachel-inner{
            background-color: $bg-opak;
        }
        
        .hidden{    //Alle Elemente die die Klasse .hidden bekommen, werden nicht angezeigt.
            display: none;  
        }
        
	} //Ende Breakpoint Smartphone 
} //Ende .quizuebersicht