/* Variabeln
###################################################### */
/* Bausteine
###################################################### */
.button {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px #cb0727;
  padding: 5px;
  color: #fff;
  width: 100%; }

.button.is-primary {
  background-color: #ff3737; }

.liste th {
  background-color: #E9C20C;
  text-align: left; }

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
  width: 10%;
  text-align: center; }

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
  width: 40%; }

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
  width: 10%;
  text-align: right; }

th, td {
  padding: 4px;
  color: black; }

td {
  background: rgba(248, 245, 228, 0.7); }

/* Variabeln
###################################################### */
/* Bausteine
###################################################### */
.button {
  background-color: rgba(0, 0, 0, 0.1);
<<<<<<< HEAD
  border: solid 1px #cb0727;
  padding: 5px;
  color: #fff;
=======
  border: solid 1px #ff3737;
  padding: 5px;
  color: white;
>>>>>>> 91a21d5a0098798734ea72d28868a18711b2c2ca
  width: 100%; }

.button.is-primary {
  background-color: #ff3737; }

.liste th {
<<<<<<< HEAD
  background-color: #E9C20C;
=======
  background-color: #e9c20c;
>>>>>>> 91a21d5a0098798734ea72d28868a18711b2c2ca
  text-align: left; }

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
  width: 10%;
  text-align: center; }

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
  width: 40%; }

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
  width: 10%;
  text-align: right; }

th, td {
  padding: 4px;
  color: black; }

td {
<<<<<<< HEAD
  background: rgba(248, 245, 228, 0.7); }
=======
  background: rgba(248, 245, 228, 0.9); }
>>>>>>> 91a21d5a0098798734ea72d28868a18711b2c2ca

html, body {
  margin: 0px;
  font-family: "Oswald", sans-serif;
  color: white;
  background: url(../images/fubuizz-bg-gross.jpg) no-repeat center center fixed;
  background-size: cover; }

.fubuizz-header header {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #504f48;
  height: 53px;
  font-size: 20px; }

.fubuizz-header nav {
  margin-top: 0px;
  background-color: black;
  height: 53px;
  font-size: 25px; }

.fubuizz-header .navib {
  text-decoration: none;
  color: white; }

.fubuizz-header .navia {
  text-decoration: none;
  color: white; }

.fubuizz-header .navia:hover {
  color: #e9c20c; }

.fubuizz-header .navia:active {
  color: #e9c20c; }

.fubuizz-header ul {
  margin: 0px; }

.fubuizz-header li {
  display: inline-block; }

.fubuizz-header .container {
  position: fixed;
  width: 100%; }

.fubuizz-header .navip {
  position: relative;
  width: 115px;
  text-align: right;
  margin-left: 50px;
  margin-top: 0px;
  padding-top: 9px;
  font-size: 15px; }

.fubuizz-header .head {
  margin-top: 5px;
  float: right;
  z-index: 1; }

.fubuizz-header .head > li {
  padding: 0.5em 0em;
  padding-right: 33px; }

.fubuizz-header .logo {
  position: absolute;
  margin-top: 5px;
  height: 43px;
  left: 33px; }

.fubuizz-header .navi {
  margin-left: 161px;
  padding-left: 0px; }

.fubuizz-header .navi > li {
  width: 161px;
  padding: 0.57em 0em;
  text-align: center;
  border-left: 1px solid #504f48; }

.fubuizz-header .navi > li:last-child {
  border-right: 1px solid #504f48; }

.fubuizz-header .burgermenu {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
  z-index: 2;
  visibility: hidden;
  padding-top: 5px;
  text-align: center;
<<<<<<< HEAD
  color: #FFFFFF; }
=======
  color: white; }
>>>>>>> 91a21d5a0098798734ea72d28868a18711b2c2ca

.fubuizz-header .burgerheader {
  width: 250px;
  height: 37px;
  margin-top: -24px;
  margin-left: -25px;
  padding-top: 3px;
  padding-left: 10px;
<<<<<<< HEAD
  background-color: #504F48; }
=======
  background-color: #504f48; }
>>>>>>> 91a21d5a0098798734ea72d28868a18711b2c2ca

.fubuizz-header .burgernav {
  width: 170px;
  height: 550px; }

.fubuizz-header .burgernav li {
  display: block;
  margin-left: -25px;
  width: 250px;
  padding: 0.7em 2em;
  font-size: 17px;
  border-bottom: 1px solid #504f48; }

.fubuizz-header .quizbeenden {
  background-color: #cb0727;
  color: white;
  border: none;
  width: 170px;
  height: 40px;
  font-family: 'Noto Sans' , sans-serif;
  font-size: 20px;
  position: relative;
  top: 260px; }

.fubuizz-header .menu {
  width: 170px;
  position: relative;
  float: right;
  left: 170px; }

#move {
  position: relative; }

@media only screen and (max-width: 1024px) {
  .fubuizz-header .head {
    visibility: hidden; }

  .fubuizz-header header {
    height: 40px; }

  .fubuizz-header .burgerheader {
    height: 40px; }

  .fubuizz-header nav {
    visibility: hidden; }

  .fubuizz-header .burgernav {
    visibility: visible; }

  .fubuizz-header .logo {
    left: 20px;
    height: 38px;
    margin: 0px;
    top: 2px; }

  .fubuizz-header .burgermenu {
    visibility: visible; } }
@media only screen and (max-width: 800px) {
  .fubuizz-header p {
    font-size: 13px; }

  .fubuizz-header .head {
    visibility: hidden; }

  /*
    .fubuizz-header header {
      height: 37px; }*/
  .fubuizz-header .burgerheader {
    height: 37px; }

  .fubuizz-header .burgermenu {
    visibility: visible;
    height: 37px;
    width: 37px;
    right: 10px; }

  .fubuizz-header nav {
    visibility: hidden; }

  .fubuizz-header .logo {
    left: 10px;
    height: 31px;
    margin: 0px;
    top: 3px; } }
.devnavi {
  position: fixed;
  right: 0;
  bottom: 0;
  background-color: fuchsia;
  padding: 0; }

.devnavi li {
  display: block;
  font-size: 12px;
  font-weight: 100;
  padding: 5px; }

.devnavi li:hover {
  cursor: pointer; }

/*# sourceMappingURL=navi.css.map */

/*# sourceMappingURL=navi.css.map */
