@import "../../assets/css/base";

@font-face { font-family: 'Oswald-Regular';
             src: url('../../assets/fonts/Oswald/Oswald-Regular.ttf') format('truetype'); }
@font-face { font-family: 'NotoSans-Regular';
             src: url('../../assets/fonts/NotoSans/NotoSans-Regular.ttf') format('truetype'); }
/*Body und Hintergrund*/
body{
    margin: 0;
    background: url(../../assets/images/stadion_Desktop.jpg) no-repeat center center fixed;
    background-size: cover;
}

.highscore-list{
		
	/*Überschrift Container*/
	.headline{
	    height: 45px;
	    background: $bg-opak;
	    width:calc(100% - 30px);
	    position: absolute;
	    left: 50%;
	    transform: translate(-50%);
	    margin-top: 116px;
	}
	
	/*Überschrifttext*/
	#headlinetext{
	    text-align: center;
	    margin-top: 3px;
	    font-family: $base-font-family;
	    font-size: 24px;
        color: $dark_black;
	}
	
	/*Dropdown-Menü*/
	#auswahl{
	    margin-bottom: $gutter-width;
	    width: 100%;
	    height: 39px;
	    font-family: $base-font-family;
	    font-size: 20px;
	    margin-bottom: $gutter-width;
	    padding-left: $gutter-width;
	    background-color: $bg-opak;
	}
	
	/*Container linke Seite*/
	.teaser {
	    width: calc(35% - 20px);
	    display: inline-block;
	    float: left;
	    margin-top: 176px;
	    margin-left: 15px;
	}
	
	/*Quizbild*/
	#teaserimage {
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    display: block;
	}
	
	/*Autor und Erstelldatum*/
	#author{
	    font-family: $base-font-family;
	    font-size: 20px;
	    width: 100%;
	    margin: 0;
	    background: $bg-opak;
	    padding: $gutter-width;
	    float: left;
        color: $dark_black;
	}
	
	/*Quizbeschreibung/Teasertext*/
	#teasertext {
	    width: 100%;
	    margin-top: $gutter-width;
	    font-family: 'NotoSans-Regular';
	    background: $bg-opak;
	    padding: $gutter-width;
	    float: left;
	    text-align: left;
	    font-size: 20px;
        color: $dark_black;
	}
	
	/*Rang in Tabelle*/
	#medaillen {
	    width: 100%;
	    margin: 0;
	    padding: 0;
	    display: block;
	    height: 50%;
	}
	
	/*Container für Tabelle*/
	.container-table {
	    float: right;
	    margin: 15px;
	    width: calc(65% - 25px);
	    position: absolute;
	    right: 0px;
	    margin-top: 136px; 
	}
	
	/*Gesamte Tabelle*/
	.liste{
	    font-family: $base-font-family;
	    width: 100%;
	    margin-top: 30px;
	    border-spacing: 0 $gutter-width;   
	}

}

/*Tablet-Anischt*/
@media only screen and (max-width: $bp-tablet) {
    
    .highscore-list{ 
	    .headline{    
	        margin-top: 50px;
	    }
	  
	    .teaser{
	        margin-top: 105px;
	    }
	
	    .container-table{
	        margin-top: 65px;
	    }
	}
}

/*Smartphone-Ansicht*/
/*ID-Namen identisch, siehe oben*/
@media only screen and (max-width: $bp-smartphone) {
    
	body.fubuizz{
	    margin: 0;
	        background: no-repeat center center;
	        background-size: 100% 290px; 
	        background-image: url(../../assets/images/highscore%20smartphone%20back.png) !important;
	}
	    
     .highscore-list{ 
	     

	    
	    .liste{
	    font-family: 'NotoSans-Regular';
	    margin-top: 0px;   
	    }
	    
	    /*Ausgeblendeter Content*/
	    #teasertext, #author, #teaserimage{
	        display: none;
	    }
	    
	    #auswahl{
	        margin-top: 40px; 
	    }
	    
	    .teaser{
	        width: calc(100% - 30px);
	    }
	    
	    .container-table{
	        width: calc(100% - 30px);
	        margin-top: 195px;
	    }
	    
	    .headline{
	        margin-left: 15px;
	        height: 45px;
	        width: 140px;
	        position: absolute;
	        margin-top: 105px;
	        left: 70px;
	    }
	}
}

