@charset "UTF-8";
/* Variabeln
###################################################### */
/* Bausteine
###################################################### */
.button {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid 1px #cb0727;
  padding: 5px;
  color: #fff;
  width: 100%; }

.button.is-primary {
  background-color: #ff3737; }

.liste th {
  background-color: #E9C20C;
  text-align: left; }

.liste tr th:nth-child(1),
.liste tr td:nth-child(1) {
  width: 10%;
  text-align: center; }

.liste tr th:nth-child(2),
.liste tr td:nth-child(2) {
  width: 40%; }

.liste tr th:nth-child(4),
.liste tr td:nth-child(4) {
  width: 10%;
  text-align: right; }

th, td {
  padding: 4px;
  color: black; }

td {
  background: rgba(248, 245, 228, 0.7); }

.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

@font-face {
  font-family: 'Oswald-Regular';
  src: url("../../assets/fonts/Oswald/Oswald-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'NotoSans-Regular';
  src: url("../../assets/fonts/NotoSans/NotoSans-Regular.ttf") format("truetype"); }
/*Body und Hintergrund*/
body {
  margin: 0;
  background: url(../../assets/images/stadion_Desktop.jpg) no-repeat center center fixed;
  background-size: cover; }

.highscore-list {
  /*Überschrift Container*/
  /*Überschrifttext*/
  /*Dropdown-Menü*/
  /*Container linke Seite*/
  /*Quizbild*/
  /*Autor und Erstelldatum*/
  /*Quizbeschreibung/Teasertext*/
  /*Rang in Tabelle*/
  /*Container für Tabelle*/
  /*Gesamte Tabelle*/ }
  .highscore-list .headline {
    height: 45px;
    background: rgba(248, 245, 228, 0.9);
    width: calc(100% - 30px);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    margin-top: 116px; }
  .highscore-list #headlinetext {
    text-align: center;
    margin-top: 3px;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    color: black; }
  .highscore-list #auswahl {
    margin-bottom: 10px;
    width: 100%;
    height: 34px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    background-color: rgba(248, 245, 228, 0.9); }
  .highscore-list .teaser {
    width: calc(35% - 20px);
    display: inline-block;
    float: left;
    margin-top: 176px;
    margin-left: 15px; }
  .highscore-list #teaserimage {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block; }
  .highscore-list #author {
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    width: calc(100% - 20px);
    margin: 0;
    background: rgba(248, 245, 228, 0.9);
    padding: 10px;
    float: left;
    color: black; }
  .highscore-list #teasertext {
    width: calc(100% - 20px);
    margin-top: 10px;
    font-family: 'NotoSans-Regular';
    background: rgba(248, 245, 228, 0.9);
    padding: 10px;
    float: left;
    text-align: left;
    font-size: 20px;
    color: black; }
  .highscore-list #medaillen {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    height: 50%; }
  .highscore-list .container-table {
    float: right;
    margin: 15px;
    width: calc(65% - 25px);
    position: absolute;
    right: 0px;
    margin-top: 136px; }
  .highscore-list .liste {
    font-family: 'NotoSans-Regular';
    width: 100%;
    margin-top: 30px;
    border-spacing: 0 10px; }

/*Tablet-Anischt*/
@media only screen and (max-width: 1024px) {
  .highscore-list .headline {
    margin-top: 50px; }
  .highscore-list .teaser {
    margin-top: 105px; }
  .highscore-list .container-table {
    margin-top: 65px; } }
/*Smartphone-Ansicht*/
/*ID-Namen identisch, siehe oben*/
@media only screen and (max-width: 439px) {
  body.fubuizz {
    margin: 0;
    background: no-repeat center center;
    background-size: 100% 290px;
    background-image: url(../../assets/images/highscore%20smartphone%20back.png) !important; }

  .highscore-list {
    /*Ausgeblendeter Content*/ }
    .highscore-list .liste {
      font-family: 'NotoSans-Regular';
      margin-top: 0px; }
    .highscore-list #teasertext, .highscore-list #author, .highscore-list #teaserimage {
      display: none; }
    .highscore-list #auswahl {
      margin-top: 40px; }
    .highscore-list .teaser {
      width: calc(100% - 30px); }
    .highscore-list .container-table {
      width: calc(100% - 30px);
      margin-top: 195px; }
    .highscore-list .headline {
      margin-left: 15px;
      height: 45px;
      width: 140px;
      position: absolute;
      margin-top: 105px;
      left: 70px; } }

/*# sourceMappingURL=highscore.css.map */
